* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0px;
    padding: 2rem;
    background-color: #f7f9fb;
}

.pricing-table {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.plan {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 5px 3px rgb(145, 132, 145);
}

.plan h2 {
    margin-top: 0px;
    font-size: 2rem;
}

.price {
    font-size: 1.5rem;
    padding: 10px;
    color: #333;
}

.features {
    margin: 1rem 0px;
    padding: 0px;
    list-style: none;
}

.features li {
    margin: 0.5rem;
}

.cta {

    margin-top: 1rem;
    background: #0070f3;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

@media (min-width : 768px) {
    .pricing-table{
        flex-direction: row;
    }
    
}