.navbar {
  background-color: #e84e0f;
  padding: 1px 0;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu li {
  position: relative;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.submenu {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #d53c0f;
  top: 100%;
  left: 0;
  min-width: 19px;
  z-index: 1;
}

.dropdown:hover .submenu {
  display: block;
  
}

.submenu li a {
  padding: 5px;
  color: white;
  display: block;
}

.submenu li a:hover {
  background-color: #b72f0c;
}
