*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.profile-card {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px rosybrown;
    width: 300px;
    text-align: center;
    padding: 20px;
    margin-left: 500px;
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.profile-name{
    font-size: 1.5em;
    margin-bottom: 7px;
    color: darkseagreen;
}

.profile-title {
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
}
.profile-link{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}
.profile-link:focus{
    outline: 2px solid rgb(68, 116, 68);
}
.profile-link:hover{
    background-color: aquamarine;
    cursor: pointer;
}

